*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff") format("woff"), url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}

.main-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #000000;
}

.block-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

.styled-button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #68b738;
}
.styled-button--grey {
  color: #444444;
  background-color: #f2f2f2;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .main-header__inner {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1280px) {
  .main-header__inner {
    padding-top: 53px;
    padding-bottom: 53px;
  }
}

.main-nav {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__link {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.intro {
  position: relative;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
@media (min-width: 768px) {
  .intro {
    margin-bottom: 0;
    background: none;
    color: #000000;
  }
}
@media (min-width: 1280px) {
  .intro {
    margin-bottom: 82px;
  }
}
.intro::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(26vw + 46%);
  background: url("../img/bg/intro-background-mobile.jpg") center/cover no-repeat;
  content: "";
  z-index: -1;
}
@media (min-width: 768px) {
  .intro::after {
    display: none;
  }
}

.intro__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  text-align: center;
}
@media (min-width: 768px) {
  .intro__inner {
    text-align: left;
    padding: 27px 87px 526px;
    align-items: flex-start;
  }
}
@media (min-width: 1280px) {
  .intro__inner {
    padding: 55px 80px 0;
  }
}

.intro__title {
  max-width: 400px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .intro__title {
    color: #000000;
  }
}

.intro__slogan {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .intro__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.intro__button {
  width: 100%;
  max-width: 320px;
  padding: 11px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
}

.catalog-refs {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .catalog-refs {
    margin-bottom: 45px;
  }
}
@media (min-width: 1280px) {
  .catalog-refs {
    margin-bottom: 70px;
  }
}

.catalog-refs__list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog-refs__list {
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .catalog-refs__list {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-refs__item {
  padding: 20px;
  background-color: #f2f2f2;
}

.catalog-refs__item-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.catalog-refs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.benefits {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .benefits {
    margin-bottom: 90px;
  }
}
@media (min-width: 1280px) {
  .benefits {
    margin-bottom: 70px;
  }
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 40px;
}

.benefits__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .benefits__list {
    grid-template-columns: repeat(2, auto);
    gap: 37px 153px;
  }
}
@media (min-width: 1280px) {
  .benefits__list {
    grid-template-columns: repeat(4, auto);
    column-gap: 80px;
  }
}

.benefits__item-icon {
  width: 60px;
  height: 60px;
  background-color: #68b738;
}

.example {
  position: relative;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background-color: transparent;
    background-image: linear-gradient(to top, #eaeaea 42.7%, #ffffff 42.7%);
  }
}
@media (min-width: 1280px) {
  .example {
    background-image: linear-gradient(to top, #eaeaea 72.1%, #ffffff 72.1%);
  }
}

.example__inner {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .example__inner {
    flex-direction: row;
  }
}

.example__info {
  flex-basis: 50%;
}

.example__title {
  margin-top: 25px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    margin-top: 0;
    margin-bottom: 63px;
  }
}
@media (min-width: 1280px) {
  .example__title {
    margin-bottom: 76px;
  }
}

@media (min-width: 1280px) {
  .example__description {
    max-width: 436px;
    padding: 70px 0 75px;
  }
}

.example__stats-value {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.example__stats-value--summary {
  font-size: 14px;
  line-height: 20px;
}

.example__stats-description {
  font-size: 12px;
  line-height: 1;
  text-align: center;
}
.example__stats-description--summary {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.example__slider {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__slider {
    margin-bottom: 56px;
  }
}
@media (min-width: 1280px) {
  .example__slider {
    margin-bottom: 65px;
  }
}

.slider-example__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-example__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.main-footer__bottom {
  background-color: #f2f2f2;
}

.main-footer__bottom-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer__bottom-inner {
    flex-direction: row;
    justify-content: space-between;
  }
}

.location--bg-grey {
  background-color: #f2f2f2;
}
@media (min-width: 1280px) {
  .location--bg-grey {
    background-color: transparent;
  }
}
@media (min-width: 1280px) {
  .location {
    display: grid;
  }
}

@media (min-width: 1280px) {
  .location__inner {
    grid-area: 1/1/-1/-1;
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.location__description {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (min-width: 1280px) {
  .location__description {
    width: 405px;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}

.location__strong-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.location__address {
  line-height: 20px;
  font-style: normal;
}

.location__map {
  position: relative;
  width: 100%;
  height: 362px;
}
@media (min-width: 768px) {
  .location__map {
    min-height: 400px;
  }
}
@media (min-width: 1280px) {
  .location__map {
    grid-area: 1/1/-1/-1;
    z-index: -1;
  }
}

.location__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.copyright__link {
  text-decoration: none;
  color: inherit;
}

.inner-container {
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .inner-container {
    border: 0;
  }
}

.catalog {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog {
    margin-bottom: 68px;
  }
}
@media (min-width: 1280px) {
  .catalog {
    margin-bottom: 76px;
  }
}

.catalog__title {
  margin-top: 27px;
  margin-bottom: 37px;
  color: #000000;
}

.catalog__list {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog__list {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.product-card {
  padding-top: 19px;
  padding-bottom: 24px;
}

.product-card__title {
  margin-top: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.product-card__specs-list {
  font-size: 12px;
  line-height: 16px;
}

.product-card__button {
  padding: 10px;
}

.card-info__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.card-info__text {
  font-size: 12px;
  line-height: 16px;
}

.card-info__button {
  padding: 10px;
}

@media (min-width: 1280px) {
  .inner-columns {
    margin-bottom: 86px;
  }
}

.inner-columns__title {
  margin-bottom: 36px;
  margin-top: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #000000;
}
@media (min-width: 768px) {
  .inner-columns__title {
    margin-bottom: 80px;
  }
}

.inner-columns__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .inner-columns__content {
    flex-direction: row;
    justify-content: space-between;
  }
}

.inner-columns__left {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .inner-columns__left {
    margin-bottom: 70px;
  }
}
@media (min-width: 1280px) {
  .inner-columns__left {
    flex-basis: 73.4426229508%;
    margin-right: 6.5573770492%;
    margin-bottom: 0;
  }
}

.inner-columns__right {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .inner-columns__right {
    margin-bottom: 76px;
  }
}
@media (min-width: 1280px) {
  .inner-columns__right {
    flex-basis: 20.0819672131%;
    margin-bottom: 0;
  }
}

.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-card {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 19px;
}
@media (min-width: 1280px) {
  .additional-card {
    flex-direction: row;
    justify-content: space-between;
  }
}

.additional-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.additional-card__specs-item {
  font-size: 14px;
  line-height: 1;
}

.additional-card__button {
  padding: 10px;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 289px;
  background: url("../img/bg/promo-background-mobile.jpg") center/cover no-repeat;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .promo {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .promo {
    justify-content: center;
  }
}
.promo::before {
  display: block;
  width: 78px;
  height: 80px;
  margin-bottom: 48px;
  margin-top: auto;
  background: url("../img/bg/icon-gift.svg") center/cover no-repeat;
  content: "";
}
@media (min-width: 768px) and (max-width: 1280px) {
  .promo::before {
    margin-bottom: 0;
    margin-left: 77px;
  }
}
@media (min-width: 768px) {
  .promo::before {
    margin-top: 0;
    width: 80px;
    height: 82px;
  }
}

.promo__description {
  max-width: 161px;
  margin: 0 auto 43px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .promo__description {
    margin: 0;
    margin-right: 124px;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .program {
    padding-left: 40px;
    padding-right: 37px;
  }
}

.program__title {
  margin-top: 27px;
  margin-bottom: 37px;
  color: #000000;
}

.program__text {
  margin-bottom: 39px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.form-program {
  display: grid;
  row-gap: 20px;
  margin-bottom: 32px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .form-program {
    row-gap: 65px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1280px) {
  .form-program {
    margin-bottom: 82px;
  }
}

.form-program__group {
  display: grid;
  row-gap: 24px;
  border: 0;
}
@media (min-width: 768px) {
  .form-program__group {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 72px;
  }
}
@media (min-width: 1280px) {
  .form-program__group {
    column-gap: 80px;
  }
}

.form-program__group-title {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form-program__control-list {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .form-program__control-list {
    column-gap: 60px;
  }
}
@media (min-width: 1280px) {
  .form-program__control-list {
    column-gap: 80px;
  }
}
.form-program__control-list--direction-column {
  grid-template-columns: 1fr;
  grid-column: span 2;
}
@media (min-width: 1280px) {
  .form-program__control-list--direction-column {
    grid-column: span 1;
  }
}
.form-program__control-list--border-on {
  border: 1px solid #e7e7e7;
  padding: 25px;
}

.form-program__control-item {
  grid-column-start: span 4;
}
@media (min-width: 1280px) {
  .form-program__control-item {
    grid-column-start: span 2;
  }
}
@media (min-width: 768px) {
  .form-program__control-item--size-xs {
    grid-column-start: span 2;
  }
}
@media (min-width: 1280px) {
  .form-program__control-item--size-xs {
    grid-column-start: span 1;
  }
}

.form-program__control-label {
  text-transform: uppercase;
}
.form-program__control-label--shade-dark {
  color: #222222;
}
.form-program__control-label--shade-black {
  color: #000000;
}

.form-program__control-input,
.form-program__control-number,
.form-program__textarea {
  width: 100%;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
}

.form-program__textarea {
  grid-column: span 2;
}

.form-program__submit {
  padding: 7px;
  border: 0;
}

.form-program__endnote {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .form-program__endnote {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */