.additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional__item {
  border-style: solid;
  border-color: $special-grey;
  border-width: 0;
  border-bottom-width: 1px;

  &:first-child {
    border-top-width: 1px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    border-right-width: 1px;
    border-left-width: 1px;
  }
}
