.benefits {
  margin-bottom: 50px;
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 40px;
}

.benefits__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.benefits__item {
  @media (min-width: $tablet-width) {
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 25%;
  }
}

.benefits__item-icon {
  width: 60px;
  height: 60px;
  background-color: $basic-green;
}
