.catalog-refs {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.catalog-refs__list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-refs__item {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 23px 19px;
  padding: 23px 21px 18px;
  background-color: $basic-grey;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 200px;
    gap: 24px 54px;
    padding: 77px 62px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 100px 1fr;
    gap: 21px 62px;
    padding: 47px 52px 59px;
  }
}

.catalog-refs__item-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  align-self: center;

  @include font-oswald-upper(24px, 37px);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.catalog-refs__item-text {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin: 0;

  @media (min-width: $tablet-width) {

    color: #000000;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin-top: 10px;
  }
}

.catalog-refs__link {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  justify-self: start;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 18px 0 4px;
  border-top: 1px solid #d9d9d9;

  &::after {
    position: relative;
    flex: 0 0 32px;
    width: 32px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='12' viewBox='0 0 32 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' d='M0 6h26'/%3E%3Cpath d='m32 6-6.75 5.2V.8L32 6Z' fill='black'/%3E%3C/svg%3E");
    background-position: center right 8px;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
  }

  &:hover::after {
    transition: background-position 0.3s ease-in-out;
    background-position: top right;
  }

  @include font-oswald-upper(16px, 1);
  text-decoration: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    width: auto;
    font-size: 20px;
    line-height: 30px;
    border: 0;
    padding: 0;
    margin-top: 28px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-top: 5px;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-refs__link-text {
  margin-right: 17px;

  @media (min-width: $tablet-width) {
    margin-right: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 29px;
  }
}

.catalog-refs__image-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    align-self: center;
    width: 200px;
    height: 200px;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: stretch;
    width: 100px;
    height: 100px;
  }
}

.catalog-refs__image {
  position: absolute;
  left: 50%;

  &--slim {
    bottom: 3px;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      bottom: 17px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      bottom: 9px;
    }
  }

  &--pro {
    top: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
    }
  }
}
