.catalog-refs {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.catalog-refs__list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-refs__item {
  padding: 20px;
  background-color: $basic-grey;
}

.catalog-refs__item-title {
  @include font-oswald-upper(24px, 37px);
}

.catalog-refs__link {
  @include font-oswald-upper(16px, 1);
  text-decoration: none;
}
