// Container
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
