.decorated-title {
  position: relative;
  display: inline-block;
  padding-right: 22px;
  background-color: #ffffff;

  @include font-oswald(24px, 26px);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-right: 40px;
    padding-left: 40px;
  }

  &::before {
    position: absolute;
    display: block;
    left: 100%;
    top: 17px;
    height: 2px;
    width: 100vw;
    background-color: $basic-green;
    content: "";
    z-index: -1;

    @media (min-width: $tablet-width) {
      left: -20vw;
      width: 120vw;
      top: 23px;
    }
  }
}
