.example {
  position: relative;
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "slider";
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #eaeaea;

  @media(min-width: $tablet-width) {
    background-color: transparent;
  }

  @media(min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header slider"
    "body slider";
  }
}

.example__header {
  grid-area: header;
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;
}

.example__description {
  grid-area: body;
}

.example__stats-value {
  @include font-oswald-upper(24px, 1);
  text-align: center;

  &--summary {
    font-size: 14px;
    line-height: 20px;
  }
}

.example__stats-description {
  font-size: 12px;
  line-height: 1;
  text-align: center;

  &--summary {
    @include font-oswald-upper(14px, 20px);
  }
}

.example__slider {
  grid-area: slider;
  justify-self: center;
}
