.inner-columns {
  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.inner-columns__title {
  margin-bottom: 35px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.inner-columns__content {
  display: grid;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 20.1%;
    gap: 80px;
  }
}

.inner-columns__left {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.inner-columns__right {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
