.intro {
  position: relative;
  margin-bottom: 20px;

  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    background: none;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-bottom: 77px;
    min-height: 529px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(25vw + 46%);
    background: $basic-green url("../img/bg/intro-background-mobile.jpg") center / cover no-repeat;
    content: "";
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background: $basic-green url("../img/bg/intro-background-mobile@2x.jpg") center / cover no-repeat;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      left: 50%;
      width: 50%;
      height: 694px;
      background: $basic-green url("../img/bg/intro-background-desktop.jpg") top left / cover no-repeat;
    }

    @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
      background-image: url("../img/bg/intro-background-desktop@2x.jpg");
    }
  }
}

.intro__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 24px 119px 527px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 110px 0;
  }
}

.intro__title {
  max-width: 400px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    max-width: 420px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 1;
    color: #000000;
  }
}

.intro__slogan {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.intro__image {
  width: 280px;
  min-height: 270px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 708px;
    z-index: -1;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    left: 50%;
    transform: translateX(-29.3%);
    top: -28px;
    bottom: auto;
    z-index: 0;
  }
}

.intro__button {
  width: 100%;
  max-width: 320px;
  padding: 11px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: auto;
    max-width: none;
    padding: 17px 28px;
    font-size: 20px;
    line-height: 1;
  }
}
