.main-footer__bottom {
  background-color: $basic-grey;
}

.main-footer__bottom-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 57px;
  }
}

.main-footer__logo-link {
  width: 100%;
  text-align: center;
  padding: 38px 0 32px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 0;
    width: auto;
  }

  &[href]:hover {
    transition: opacity 0.3s ease;
    opacity: 0.8;
  }

  &[href]:active {
    transition: none;
    opacity: 0.6;
  }
}

.main-footer__logo-image {
  width: 128px;
  height: 24px;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    flex-basis: 128px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.main-footer__social {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 0;
    flex-grow: 1;
  }
}

.main-footer__copyright {
  width: 100%;
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: auto;
    flex-grow: 0;
    flex-shrink: 1;
  }
}
