.main-header {
  position: relative;
}

// Main header
.main-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    padding-bottom: 50px;
  }
}

.no-js .main-header__inner {
  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.main-header__logo-link {
  display: inline-block;

  &[href]:hover {
    transition: opacity 0.3s ease;
    opacity: 0.8;
  }

  &[href]:active {
    transition: none;
    opacity: 0.6;
  }
}

.main-header__logo-image {
  width: 191px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}
