.main-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 65px;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  pointer-events: none;

  @include font-oswald-upper(20px, 1, #000000, 500);

  @media (min-width: $tablet-width) {
    pointer-events: all;
    position: static;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
    font-size: 20px;
    line-height: 30px;
  }

  &--index {
    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
  border-top: 1px solid #e6e6e6;
  transform: translate3d(100%, 0, 0);
  transition: all ease-out 0.3s;
  will-change: transform;

  @media (min-width: $tablet-width) {
    position: static;
    border: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    transform: translate3d(0, 0, 0);
  }
}

.main-nav--opened {
  pointer-events: all;

  .main-nav__list {
    transform: translate3d(0, 0, 0);
    transition: all ease-out 0.2s 0.3s;
  }

  .main-nav__overlay {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

.main-nav__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__item {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: 0;
    margin-left: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 36px;
  }
}

.main-nav__link {
  display: block;
  width: 100%;
  padding: 22px 30px 23px;
  text-align: center;
  color: inherit;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    position: relative;
  }

  &--active {
    @media (min-width: $tablet-width) {
      background-image: linear-gradient(to top, $basic-green 0%, $basic-green 100%);
      background-position: left bottom 8px;
      background-size: 100% 2px;
      background-repeat: no-repeat;
    }
  }

  &--index {
    @media (min-width: $desktop-width) {
      background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    }
  }

  @media (min-width: $tablet-width) {
    padding: 18px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 0 15px;
  }

  &:not(&--active):hover {
    transition: opacity 0.3s ease;
    opacity: 0.6;
  }

  &:not(&--active):active {
    transition: none;
    opacity: 0.3;
  }
}

.main-header__toggle {
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav-toggle {
  border: 0;
  background-color: transparent;
  width: 24px;
  height: 18px;
}

.nav-toggle__icon-closed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition-delay: 0.5s;
  transition-duration: 0.5s;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    content: "";
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: 16px;
  }
}

.nav-toggle__icon-opened {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition-duration: 0.5s;

  &::before,
  &::after {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.nav-toggle.is-active .nav-toggle__icon-closed {
  transform: scaleX(0);
  transition-delay: 0s;
}

.nav-toggle.is-active .nav-toggle__icon-opened {
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.no-js .main-header__toggle {
  display: none;
}

.no-js .main-nav__list {
  position: static;
  transform: translate3d(0, 0, 0);
}

.no-js .main-nav {
  @media (max-width: $tablet-width) {
    width: 100%;
  }
}
