// Main header
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @media(min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media(min-width: $desktop-width) {
    padding-top: 53px;
    padding-bottom: 53px;
  }
}


